body {
    background-color: #252525;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.sent {
    display: none;
}

button {
    outline: none;
    background-color: #353535;
    border: 0;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    transition-duration: 0.25s;
    padding: 15px 32px;
    font-size: 120%
}
button:hover {
    background-color: #404040;
}